.content {
	width:200px;
	height:200px;
	line-height:200px;
	margin:0px auto;
	text-align:center;
	background-color:#CCCCCC;
}

#carousel-bande .item img 
{
	display: block;
	width: 100px;
	height: 80px;
	padding: 5px;
}

#generaciones .item img 
{
	display: block;
	width: 100px;
	height: 80px;
	padding: 5px;
}
