@charset "utf-8";

.SlideVertical
{
    display: flex;
    justify-content: center;
}

.thmbnails
{
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.thmbnails li
{
    flex: auto;
    list-style: none;
}

.thmbnails li a
{
    display: block;
}

.thmbnails img
{
    width:  30vmin;
    height: 20vmin;
    object-fit: cover;
    object-position: top;
}

.ulSlidesVertical
{
    overflow: hidden;
    width: 75vmin;
    height: 75vmin;
}

.ulSlidesVertical li
{
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    z-index: 1;
    list-style: none;
}

.ulSlidesVertical img
{
    height: 75vmin;
    width: 75vmin;
    object-fit: cover;
    object-position: top;
}

.ulSlidesVertical li:target
{
    z-index: 3;
    -webkit-animation: slide 1s 1;
}

.SlideVertical .buttons  
{
    position: absolute;
    top: 40%;
    height: 50%;
    width:  50%;
}

.SlideVertical .buttons .next 
{
    font-size: 2rem;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
} 

.SlideVertical .buttons .prev 
{
    font-size: 2rem;
    left: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}

.SlideVertical .buttons .next:hover 
{
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}

.SlideVertical .buttons .prev:hover 
{
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}
